html,body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.strona{
  display:flex;
  flex-direction: column;
  margin:0px;
  padding:0px;
}

/*header */


nav ul {
  border: 1px black solid;
  text-align: right;
  position: fixed;
  margin-top: -10px;
  width: 100%;
  background-color: #e0ebe8;
  font-weight: bold;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}

nav ul li a {
  color: #326273;
  text-decoration: none;
}

nav ul li a:hover {
  color: green;
}



/* welcome section */
.intro-div{
  height: 100vh;
  width: 100vw;
  background-color: #e0ebe8;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.intro-div h2{
  margin-bottom:-10px;
  color:#326273;
}
.intro-div p{
  color: #FF9F1C;
}

/* work section */
.projects{
  height: 90vh;
  width: 100vw;
  color: #326273;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  align-items: ;
}
@media only screen and (max-width: 600px) {
    .projects {
        height: 90vh;
        width: 100vw;
        color: #326273;
        background-color: ;
        display: grid;
        flex-direction: column;
        grid-column: auto;


    }
}
.mid-div{
  padding-top:30px;
  color: #326273;
}
.project1{
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  width: 25%;
  margin: 20px;
  border: 3px solid #5C9EAD;

  border-radius: 3px;
}

/* contact section */
.contact-div{
  height:85vh;
  width: 100vw;
  background-color: #5C9EAD;
}

/*footer section */
.footer-div{
  display:flex;
  align-items:center;
  justify-content: center;
  height: 10vh;
  width:100vw;
  background-color: #326273;
}
.footer-div p {
  color:white;
}
